body
{
	border-style: solid;
	border-width: 3px;
	border-color: blue;
	padding: 5px 5px 10px 10px;
	text-align: center;
	margin: 0 auto;
	box-shadow: 10px 15px 5px; #cbcbcb;

}

h1
{
	border: 1px dashed grey;
  	font-size: 55px;
  	text-align: center;
  	background-color: black;
}

button span {

  display: block;

}


#question
{

	font-size: 35px;
	color: green;

}

.buttons
{
	margin-top: 30px;
}

#button0, #button1, #button2, #button3
{
	background-color: grey;
	color: white;
	border: 1px solid pink;
} 

#progress
{
	color: brown;
	font-size: 20px;
}


#button0:hover, #button1:hover, #button2:hover, #button3:hover
{
	cursor: pointer;
	background-color: black;
}